model.zip
./speech-separation/model.zip/
./speech-separation/model_checkpoints/
./speech-separation/model/

./speech-sep-metrics/model/
./speech-sep-metrics/model_checkpoints/
./speech-sep-metrics/data/
**/**.wav
**/**.ckpt
./speech-sep-metrics/dumps
./audio-upsample/__pycache__/
./audio-upsample/utils/__pycache__/
